<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/login.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="user-input">
            <form id="form1" method="get">
            <div>
                <label> Enter Username: </label>
                <input type="text" id="username">
            </div>
            <div>
                <label> Enter Password: </label>
                <input type="password">
            </div>
            <div>
                <input type="submit" value="Login with UniversityID" formaction="http://localhost:5000/university">
                <input type="submit" value="Login with StudentID" formaction="/student" >
            </div>
            </form>
        </div>
    </body>
</html>